
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <h1 style="text-align:center;">Course/MyView  view</h1>

    <p style="text-align:center;">@ViewBag.Greeting student! How are you?</p>
    <p style="text-align:center;">We hope you'll enjoy our course...</p>

    <a asp-action="apply">Apply the course</a>
</body>
</html>
